P {
	MARGIN: 20px
}
.table-left-right {
	BORDER-LEFT: #E7E7E7 1px solid;
	BORDER-RIGHT: #E7E7E7 1px solid;
}
TD {
	font-size: 12px;
	color: #000000;
}
.hangju {
	font-size: 12px;
	color: #000000;
	line-height: 20px;
	word-spacing: 3pt;
}
.title
{
	font-size: 14px;
	color: #000000;
	font-family: "ו";
	font-weight: bold;
}
.title2
{
	font-size: 12px;
	color: #ffffff;
	font-family: "ו";
	font-weight: bold;
}
.title3
{
	font-size: 12px;
	color: #000000;
	font-family: "ו";
	font-weight: bold;
}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	line-height: 12px;
}
a:visited {
	font-size: 12px;
	color: #000000;
}
a:hover {
	font-size: 12px;
	color: #000000;
}
a:active {
	font-size: 12px;
	color: #000000;
}
.INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 9pt; BORDER-LEFT:#cccccc 1px solid; CURSOR: hand; BORDER-BOTTOM: #cccccc 1px solid; 
}
s